// Fonts
$baseFontSize: $em-base;
$mainFont: 'Montserrat', sans-serif;

// Colors
$mainColor: #fd8f3e;
$darkColor: #293541;
$primaryColor: #0069d9;
$dangerColor: #c82333;
$successColor: #218838;

// Navbar settings
$navbarHeight: 66px;

// Sidebar settings
$sidebarWidth: 120px;
$sidebarDefaultColor: #707980;

// Buttons settings
$defaultButtonColor: #727b84;

// Common panels settings
$panelShadow: 0px 5px 10px 0 rgba(41, 53, 65, 0.15);

// Notification
$notificationRightPosition: 20px;
$notificationMaxWidth: 500px;