.Categories {
  height: 1px;
  min-height: calc(100% - 100px);

  &__content {
    background-color: #fff;
    min-height: 100%;
    margin-top: 20px;
    box-shadow: $panelShadow;
  }

  &__head {
    border-bottom: 1px solid #dbe3eb;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__empty {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
  }
}