.CategoryItem {
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dbe3eb;
  transition: background-color 0.15s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 1.15rem;
    color: $darkColor;
  }

  &:hover {
    background-color: #fff;

    .CategoryItem__title {
      color: $mainColor;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__controlElement {
    cursor: pointer;
    margin: 0 10px;
  }

  &__editForm {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__editInput {
    margin: 0 5px 0 0;
    min-width: 250px;

    input {
      font-size: 1.15rem;
      box-sizing: border-box;
      width: 100%;
      border: none;
      padding: 5px 10px;
      box-shadow: 0 0 1px 1px rgba(#000000, 0.25);
      transition: box-shadow 0.15s ease;

      &:focus {
        box-shadow: 0 0 3px 1px rgba(#000000, 0.45);
      }
    }
  }

  &__editErrors {
    margin: 0;
    padding: 0 20px;
    color: $dangerColor;

    & > li {
      &:first-child {
        margin-top: 10px;
      }
      margin: 2px 0;
    }
  }

  &__editControls {
    & > * {
      margin: 0 1.5px;
    }
  }
}