.Modal {
  $padding: 15px;
  $borderColor: #e9ecef;

  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(black, 0.45);

  &__content {
    max-width: 500px;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 30px auto 0;
    border: 1px solid rgba(0, 0, 0, .2);

    &--isSmall {
      max-width: 300px;
    }

    &--isLarge {
      max-width: 800px;
    }
  }

  &__header {
    border-bottom: 1px solid $borderColor;
    padding: $padding;
    display: flex;
    justify-content: space-between;
  }

  &__close {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;
    opacity: 0.5;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__body {
    padding: $padding;
  }

  &__footer {
    border-top: 1px solid $borderColor;
    padding: $padding;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin: 0 3.5px;
    }
  }
}