.Button {
  padding: 10px 20px;
  background-color: $defaultButtonColor;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.15s ease;
  cursor: pointer;

  &:hover {
    background-color: darken($defaultButtonColor, 15%);
  }

  &--isPrimary {
    background-color: $primaryColor;

    &:hover {
      background-color: darken($primaryColor, 10%);
    }
  }

  &--isMain {
    background-color: $mainColor;

    &:hover {
      background-color: darken($mainColor, 10%);
    }
  }

  &--isDanger {
    background-color: $dangerColor;

    &:hover {
      background-color: darken($dangerColor, 10%);
    }
  }

  &--isSmall {
    padding: 5px 10px;
  }
}