.SearchBox {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  position: relative;

  &__input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    box-shadow: 0 0 1px 1px rgba(#000000, 0.15);
    padding: 11px 30px 11px 11px;
    color: $darkColor;
    letter-spacing: 0.7px;
    font-weight: 300;
    transition: box-shadow 0.15s ease;

    &:focus {
      box-shadow: 0 0 4px 2px rgba(#000000, 0.15);
    }
  }

  &__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}